.git
.ipynb_checkpoints/*
/notebooks/*
/unused/*
Dockerfile
.DS_Store
.gitignore
README.md
env.*
/devops/*
**/*.pyc

# To prevent storing dev/temporary container data
*.csv
/tmp/*

node_modules
build
.dockerignore
Dockerfile
Dockerfile.prod